chapter-0/write-first-rust-program/cargo-package-manager/target
chapter-1-primitive-data-types/target
chapter-2-compound-data-types/target
chapter-3-functions/target
chapter-4-ownership/target
chapter-5-borrowing-and-references/target
chapter-6-variable-and-mutability/target
chapter-7-constants/target